<!DOCTYPE html>
<html>
<head>
    <link href="/css/game.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/scripts/game.js"></script>
</head>
<body>
<div class="container">
    <div class="status"></div>
    <div class="turn">
        <h1 class="text">turn:</h1>
        <h1 class="symbol"></h1>
    </div>
    <div class="grid">
        <button type="button" id="1" class="one"></button>
        <button type="button" id="2" class="two"></button>
        <button type="button" id="3" class="three"></button>
        <button type="button" id="4" class="four"></button>
        <button type="button" id="5" class="five"></button>
        <button type="button" id="6" class="six"></button>
        <button type="button" id="7" class="seven"></button>
        <button type="button" id="8" class="eight"></button>
        <button type="button" id="9" class="nine"></button>
    </div>
</div>
</body>
</html>