<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script defer src="scripts/index.js"></script>
</head>
<body>
<div class="container">
    <button type="button" class="play-btn" id="play-button">play</button>
</div>
</body>
</html>